.hero{
    width: 100%;
    min-height: 100vh;
    background:    linear-gradient(

      rgba(14, 91, 89, 0.45),

      rgba(41, 130, 122, 0.45)

    ), url('../../assets/hero1.jpg');
   background-size: cover;
   background-position: center;
   color: #fff;
   display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    max-width: 800px;
      animation: slideFromLeft 1.8s ease-out forwards;
}

@keyframes slideFromLeft {

    0%{
        opacity: 0;
        transform: translateX(-300px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.hero-text h1{
    font-size:50px;
    font-weight: 800px;
    
} 
.hero-text p{
  font-size:17px;
    max-width:900px;
    margin: 50px auto 30px;
    line-height: 1.6;
} 
/* Media query */

@media (max-width:850px){
.hero-text h1{
    font-size: 40px;
    max-width: 400px;
    margin: auto;
}
 .hero-text p{
    font-size: 14px;
    margin: 15px auto 30px;
 }
    }
