.hero {
  width: 100%;
  min-height: 122vh;
  margin-top: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-image 1.5s ease-in-out;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  animation: heroFade 1.5s ease;
}

@keyframes heroFade {
  from {
    opacity: 0.85;
  }

  to {
    opacity: 1;
  }
}
.hero-text{
    text-align: center;
    max-width: 800px;
      animation: slideFromLeft 1.8s ease-out forwards;
}

.appointment-btn {
  position: relative;
  overflow: hidden;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  width: 310px;
  height: 65px;

  border: none;
  border-radius: 50px;

  padding: 0 12px 0 35px;

  background: #b7f0d8;
  color: black;

  font-size: 24px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.4s ease;
}

/* Animated Layer */

.appointment-btn::before {
  content: "";

  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background: #0d5c4f;

  transition: all 0.5s ease;
  z-index: 0;
}

/* Hover Animation */

.appointment-btn:hover::before {
  left: 0;
}

/* Text */

.appointment-btn span {
  position: relative;
  z-index: 2;
}

/* Arrow Circle */

.arrow-circle {
  position: relative;
  z-index: 2;

  width: 58px;
  height: 58px;

  background: #0d5c4f;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 22px;

  transition: all 0.4s ease;
}


/* Tablet */

@media (max-width: 768px) {

  .appointment-btn {
    width: 260px;
    height: 65px;
    font-size: 20px;
    padding-left: 25px;
  }

  .arrow-circle {
    width: 48px;
    height: 48px;
    font-size: 18px;
  }
}

/* Mobile */

@media (max-width: 480px) {

  .appointment-btn {
    width: 220px;
    height: 55px;
    font-size: 16px;
    padding-left: 20px;
  }

  .arrow-circle {
    width: 42px;
    height: 42px;
    font-size: 15px;
  }
}

@keyframes slideFromLeft {

    0%{
        opacity: 0;
        transform: translateX(-300px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.hero-text h1{
    font-size:50px;
    font-weight: 800px;
    
} 
.hero-text p{
  font-size:17px;
    max-width:900px;
    margin: 50px auto 30px;
    line-height: 1.6;
} 
/* Media query */

@media (max-width:850px){
.hero-text h1{
    font-size: 40px;
    max-width: 400px;
    margin: auto;
}
 .hero-text p{
    font-size: 14px;
    margin: 15px auto 30px;
 }
    }
