/* ==========================
   NAVBAR
========================== */

nav {
    width: 100%;
    background: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 6%;
    box-sizing: border-box;

    transition: all .3s ease;
}

/* ==========================
   LOGO
========================== */

.logo {
    width: 280px;
    height: 100px;
    object-fit: contain;
    display: block;
}

/* ==========================
   MENU
========================== */

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-left: 28px;
}

nav ul li a,
nav ul li button {
    color: #222;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

nav ul li a:hover,
nav ul li button:hover {
    color: #15b680;
}

/* Login Button */

nav ul li button {
    border: none;
    background: transparent;
    font-family: inherit;
}

/* Sticky */

.dark-nav {
    background: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,.08);
}

/* Menu Icon */

.menu-icon {
    display: none;
    width: 28px;
    cursor: pointer;
}

/* ==========================
   Tablet
========================== */

@media (max-width:1000px){

    nav{
        padding:10px 5%;
    }

    .logo{
        width:150px;
        height:55px;
    }

    nav ul li{
        margin-left:18px;
    }
}

/* ==========================
   Mobile
========================== */

@media (max-width:840px){

    nav{
        padding:12px 5%;
    }

    .logo{
        width:140px;
        height:50px;
    }

  .menu-icon{
    display: block;
    width: 30px;
    cursor: pointer;
    z-index: 1001;

    filter: invert(39%) sepia(93%) saturate(550%) hue-rotate(140deg) brightness(95%) contrast(90%);
}

    nav ul{
        position:fixed;
        top:0;
        right:0;
        width:240px;
        height:100vh;

        flex-direction:column;
        align-items:flex-start;

        background:linear-gradient(
            135deg,
            #0f172a,
            #134e4a,
            #0f766e
        );

        padding-top:80px;

        transition:.4s;
        z-index:1000;
    }

    nav ul li{
        margin:18px 25px;
    }

    nav ul li a,
    nav ul li button{
        color:#fff;
        font-size:17px;
    }

    .hide-mobile-menu{
        right:-240px;
    }

    .mobile-overlay{
        position:fixed;
        left:0;
        top:0;
        width:calc(100vw - 240px);
        height:100vh;
        background:rgba(0,0,0,.45);
        z-index:-1;
    }
}