.gallery {
  width: 100%;
  padding: 80px 0;
  overflow: hidden;
}

.gallery-title {
  text-align: center;
  margin-bottom: 60px;
}

.gallery-title p {
  color: #134e4a;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.gallery-title h2 {
  font-size: 42px;
  color: #134e4a;
  font-weight: 700;
}

/* Slider */

.slider-gallery {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 50px 0;
}

.slide-track-gallery {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: max-content;
  animation: scroll 35s linear infinite;
}

/* Card */

.slide-gallery {
  flex-shrink: 0;
  width: 340px;
}

/* Zig-Zag Layout */

.slide-gallery:nth-child(odd) {
  margin-top: 80px;
}

.slide-gallery:nth-child(even) {
  margin-top: 0;
}

.slide-gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 28px;
  display: block;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Auto Scroll */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Tablet */

@media (max-width: 768px) {

  .gallery {
    padding: 60px 0;
  }

  .gallery-title {
    margin-bottom: 40px;
  }

  .gallery-title h2 {
    font-size: 32px;
  }

  .slide-gallery {
    width: 260px;
  }

  .slide-gallery img {
    height: 340px;
    border-radius: 22px;
  }

  .slide-track-gallery {
    gap: 20px;
  }

  .slide-gallery:nth-child(odd) {
    margin-top: 40px;
  }

  .slide-gallery:nth-child(even) {
    margin-top: 0;
  }
}

   /* Mobile */

@media (max-width: 480px) {

  .gallery {
    padding: 50px 0;
  }

  .gallery-title {
    margin-bottom: 30px;
  }

  .gallery-title p {
    font-size: 12px;
  }

  .gallery-title h2 {
    font-size: 26px;
  }

  .slide-gallery {
    width: 220px;
  }

  .slide-gallery img {
    height: 280px;
    border-radius: 18px;
  }

  .slide-track-gallery {
    gap: 15px;
  }

  .slide-gallery:nth-child(odd) {
    margin-top: 30px;
  }

  .slide-gallery:nth-child(even) {
    margin-top: 0;
  }
}